<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul>
      <li><a href="/react-demo">react-demo</a></li>
      <li><a href="/angular-demo">angular-demo</a></li>
      <li><a href="/api/test">test api</a></li>
    </ul>
  </body>
</html>
